<a href="/salons">Salon Index</a>
<a href="/workstations">Workstation Index</a>

<form action="/salons" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a salon name and location:</p>
  <input type='text' name='salon[name]'/><br/>
  <%# <textarea name='salon[city]'></textarea><br/> %>
  <input name='salon[city]'><br/>
  <input type='submit'/>
  <p>Do you require the stylist to carry their own insurance?</p>
  <input type="checkbox" checked="true" />
  <input type="checkbox" checked="false" />
  <p>Rating by Star Count:</p>
  <input type="number" name="salon[chair_count]" /><br/>
   <input type='submit'/>
</form>