<a href="/workstations">Workstation Index</a>

<h3>Workstation Name:<%= @workstation.name %></h3>
  <p>ID:<%=@workstation.id %></p>
  <p>Chairs Offered:<%= @workstation.chair_count %></p>
  <p>Available:<%= @workstation.available %></p>

